/* Styles for the modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}

/* Modal content */
.container-modal {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 800px;
    border-radius: 10px;
    height:400px;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Image and content styling */
.container_modal_anh img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.container_modal_content {
    margin-top: 20px;
}

.size-button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.size-button.selected {
    background-color: #2F80ED;
    color: white;
}

input[type="number"] {
    width: 60px;
    margin-right: 10px;
}

button[name="themvaogio"] {
    padding: 10px;
    background-color: #2F80ED;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[name="themvaogio"]:hover {
    background-color: #1d66d8;
}
