body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


.top-nav {
    width: 100%;
    height: 50px;
    background-color: #001f5d;
}

nav {
    display: flex;
    align-items: center; 
    border-bottom: 1px solid black;
    padding: 0 20px; 
    background-color: #fff;
}

ul {
    display: flex;
    height: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    align-items: center; 
    flex-grow: 1; 
}

.nav-icon {
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    font-size: 25px; 
    color: #333; 
    width: 200px; 
}

.nav-icon a {
    text-decoration: none;
    color: #333;
}


li a {
    color: #333;
    text-decoration: none;
    padding: 25px;
}

img {
    width: 150px;
}


.footer-trangchu {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    padding: 20px; 
    background-color:#001f5d; 
    border-top: 1px solid #ccc; 
    position: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top:100px;
}

.footer-trangchu h3 {
    margin: 0; 
    font-size: 16px; 
    color: #fff; 
}

.imggioithieu{
    width:100%;
    padding-top:140px;
    
}

.imggioithieu img{
    width:100%;

}

.index{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.bestseller_jean{
    padding-top:30px;
    padding-left:20px;
    
}
.bestseller_jean h6{

    font-size:35px;
    margin-bottom:30px;
}


.bestseller_tay{
    margin-top:50px;
    padding-left:20px;
}

.bestseller_tay h6{
    margin-bottom:30px;
    font-size:35px;
    
}

.bestseller_short{
    margin-top:80px;
    padding-left:20px;
}

.bestseller_short h6{
    margin-bottom:30px;
    font-size:35px;
}

.bestseller_jogger{
    margin-top:80px;
    padding-left:20px;
}

.bestseller_jogger h6{
    margin-bottom:30px;
    font-size:35px;
}

.bestseller_boxer{
    margin-top:80px;
    padding-left:20px;
}

.bestseller_boxer h6{
    margin-bottom:30px;
    font-size:35px;
}


.thongtinlova{
    
    margin:20px;
    margin-top:100px;
    font-size:25px;

}
.thongtinlova legend{
    font-weight: bold;
    font-size:30px;
    
}

.thongtinlova_noidung{
    margin:50px;
    margin-top:20px;
}










